

<<<<<<< HEAD
.container{
    border: 1px solid black;
}

.home-top{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 2px solid gray;
    border-radius: 10px;
    margin-top: 15px;
}
img{
    margin-top: 10px;
    border-radius: 20px;
    margin: 30px 20px;
    
}

.img:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.2);
}


.image{
    height: 350px;
    width: 90%;
}

.card, tr{
    /* padding: 20px; */
    margin: 30px;
}

.cart{
    position: fixed;
    margin-left: 85%;
}

img{
    margin-top: 10px;
    border-radius: 20px;
    margin: 30px 20px;
    
}

.item{
    border: 1px solid blue;
}


=======
.rows{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url('https://i.imgur.com/GGQF4D3.gif?noredirect');
    background-size: cover;
    padding-bottom: 5%;
    border-radius: 10px;
}

.alt{
    width: 420px;
    height: 370px;
    border-radius: 10px;
}

.col-3{
    flex-basis: 40%;
    min-width: 200px;
    margin-left: 150px;
}

.image{
    max-width: 700px;
    padding: 60px 0px;
    margin-right: 100px;
}
button{
    margin-left: 100px;
    border-radius: 25px;
    padding: 12px;
    font-size: large;
    font-weight: 550;
}

.col-3 h1{
    font-size: 2.9rem;
    line-height: 70px;
    color: orangered;
}

>>>>>>> ede5cc6 (Front-End)


.items{
    margin: 70px 0px;
}

.col-md-3{
    flex-basis: 15%;
    min-width: 250;
    margin-top: 30px;
    padding: 10px;
    margin-left: 100px;
}

.img{
    width: 100%;
}

<<<<<<< HEAD
h5{
    font-weight: lighter;
}
=======
.img:hover{
    transition: 0.4s ease-in-out;
    transform: scale(1.1);
}

h5{
    font-weight: lighter;
}


.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


.feature{
    background-color: rgb(233, 232, 232);
}


.competition{
    margin-top: 20px;
}

.louis{
    border-radius: 20px;
    margin-left: 80px;
    width: 560px;
}

.para{
    text-align: center;
    margin-top: 50px;
}

.competition{
    background: radial-gradient(#fff, #ffd6d6, #d6d6ff);

}


/* .brands{
    background-color: black;
} */

.brands img{
    width: 175px;
    padding-bottom: 55px;
}

.brand .title{
    color: #fff;
}

.footer{
    background-color: #000;
    color: #8a8a8a;
    padding: 40px 0px 20px;
    font-size: 14px;
}

 .footer h3{
     color: #fff;
 }

 .col-md-3{
     min-width: 150px;

 }

 .first{
     flex-basis: 15%;
 }

 .another{
     flex: 1;
     text-align: center;
     width: 180px;
     margin-bottom: 20px;
 }

 .second{
     flex-basis: 12%;
     text-align: center;
 }

 ul{
     list-style-type: none;
 }

 .app-logo{
     margin-top: 20px;
 }

 .app-logo img{
     width: 170px;
     height: 60px;
 }

 .now{
     padding-bottom: 60px;
 }
>>>>>>> ede5cc6 (Front-End)
